<!DOCTYPE html>
<html>
  <head>
    <title>Starfinder2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="header">
    <div class="image-dice">
        <%= link_to image_tag("/StarDieResized2.jpg"), root_url%>
        <h1>&nbsp<%= link_to " Starfinder Companion II", root_url%></h1>
    </div>
</div>

  <body>
    <%= yield %>
  </body>
</html>
