<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <title>Starfinder2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="header">
    <div class="image-dice">
        <%= link_to image_tag("/StarDieResized2.jpg", alt: "Starfinder Dice"), root_url%>
        <h1>&nbsp<%= link_to " Starfinder Companion II", root_url%></h1>
    </div>
</div>

<div class="topnav">

<%= link_to "Characters", "#" %>
<%= link_to "Dice", "#" %>
<%= link_to "Starships", "#" %>
<%= link_to "Sign Up", new_user_path %>
<%= link_to "Sign In", "/signin" %>
<%= link_to "Sign Out", "#" %>

</div>

  <body>
    <%= render 'shared/messages' %>
    <%= yield %>
    <div class="footer">
    <p><a href="https://github.com/AndyAtari/StarfinderCompanion2" target="_blank" > Designed by Andy Atari</a></p>
    <p><a href="https://paizo.com/starfinder" target="_blank"> Official Paizo Website</a></p>
    </div>
  </body>
</html>
